<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Gulp Demo
        link(href="favicon.ico", rel="icon")
        link(href="css/vendors.css", rel="stylesheet")
        link(href="css/bundle.css", rel="stylesheet")

    body
        .container
            .masthead
                nav
                    ul.nav.nav-justified
                        li.active
                            a(href='#') Home
                        li
                            a(href='#') Projects
                        li
                            a(href='#') Services
                        li
                            a(href='#') Downloads
                        li
                            a(href='#') About
                        li
                            a(href='#') Contact
            // Jumbotron
            .jumbotron
                h1 Webapp scafford
                p.lead
                    | Welcome to use this webapp scafford, you can make use of this framwork to start coding for web app easily, effectively. In addition to you can also use ES6 features in Javascript.
            .row
                .col-lg-4.col-md-4
                    img(src="img/bs_logo.svg" style="height: 40px; margin: 20px 0 20px 0")
                    p
                        | Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web. Bootstrap makes front-end web development faster and easier. It's made for folks of all skill levels, devices of all shapes, and projects of all sizes.
                    p
                        a.btn.btn-primary(href='https://getbootstrap.com', role='button') View details »
                .col-lg-4.col-md-4
                    img(src="img/wizard_logo.png" style="height: 40px; margin: 20px 0 20px 0")
                    p
                        | Browserify lets you require('modules') in the browser by bundling up all of your dependencies. Browsers don't have the require method defined, but Node.js does. With Browserify you can write code that uses require in the same way that you would use it in Node.
                    p
                        a.btn.btn-primary(href='http://browserify.org/', role='button', target="_blank") View details »
                .col-lg-4.col-md-4
                    img(src="img/ecmascript-6.jpg" style="height: 40px;margin: 20px 0 20px 0")
                    p
                        | ECMAScript 6, also known as ECMAScript 2015, is the latest version of the ECMAScript standard. ES6 is a significant update to the language, and the first update to the language since ES5 was standardized in 2009. Implementation of these features in major JavaScript engines is underway now.
                    p
                        a.btn.btn-primary(href='https://github.com/lukehoban/es6features#readme', role='button', target="_blank") View details »
            .row
                .col-lg-4.col-md-4
                    img(src="img/babel_logo.svg" style="height: 40px; margin: 20px 0 20px 0")
                    br
                    p Babel is a compiler for writing next generation JavaScript. Babel has support for the latest version of JavaScript through syntax transformers. These plugins allow you to use new syntax, right now without waiting for browser support.
                    p
                        a.btn.btn-primary(href='https://babeljs.io/', role='button', target="_blank") View details »
                .col-lg-4.col-md-4
                    img(src="img/gulp_logo.jpg" style="height: 40px; margin: 20px 0 20px 0")
                    p
                        | Gulp is a toolkit that helps you automate painful or time-consuming tasks in your development workflow. By providing only a minimal API surface, gulp is easy to learn and simple to use.
                    p
                        a.btn.btn-primary(href='#', role='button') View details »
                .col-lg-4.col-md-4
                    img(src="img/eslint_logo.svg" style="height: 40px; margin: 20px 0 20px 0")
                    p
                        | ESLint is a tool for identifying and reporting on patterns found in ECMAScript/JavaScript code. ESLint is an open source project originally created by Nicholas C. Zakas in June 2013. Its goal is to provide a pluggable linting utility for JavaScript.
                    p
                        a.btn.btn-primary(href='#', role='button') View details »
            // Site footer
            footer.footer
                p fork me
                    a(href="https://github.com/blade-demon/webapp-scafford")  @github
                    |  by ziwei
        script(src="js/vendors.js" type="text/javascript")
        script(src="js/bundle.js" type="text/javascript")