<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(href="./css/all.css", rel="stylesheet")
    
  body
    p Lorem ipsum dolor sit amet, consectetur
    script(src="./js/vendors.js")
    script(src="./js/bundle.js")